--
-- PostgreSQL database dump
--

\restrict VpUCpakEbCeGNcU3Va9FnuTmPQ2N4JgedUnBn1PnTsADBf3tc8KE0lhfzKqtg8W

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: opt_in_state; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.opt_in_state AS ENUM (
    'NOT_OPTED_IN',
    'OPTED_IN',
    'OPTED_OUT'
);


--
-- Name: riot_link_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.riot_link_status AS ENUM (
    'ACTIVE',
    'UNLINKED',
    'REVOKED'
);


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: match_players; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.match_players (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    puuid text NOT NULL,
    team_id text,
    agent_id text,
    rounds_played integer,
    kills integer,
    deaths integer,
    assists integer,
    acs integer,
    damage_total integer,
    plants integer,
    defuses integer,
    did_win boolean,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: matches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.matches (
    match_id text NOT NULL,
    started_at timestamp with time zone,
    queue_type text,
    map text,
    patch_id text,
    ingestion_version text DEFAULT 'v1'::text NOT NULL,
    ingested_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: riot_account_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.riot_account_links (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    rival_user_id uuid NOT NULL,
    riot_puuid text NOT NULL,
    riot_region text NOT NULL,
    riot_game_name text,
    riot_tag_line text,
    link_status public.riot_link_status DEFAULT 'ACTIVE'::public.riot_link_status NOT NULL,
    linked_at timestamp with time zone DEFAULT now() NOT NULL,
    unlinked_at timestamp with time zone,
    opt_in_status public.opt_in_state DEFAULT 'NOT_OPTED_IN'::public.opt_in_state NOT NULL,
    opted_in_at timestamp with time zone,
    opted_out_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: rival_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rival_users (
    rival_user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: round_kill_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.round_kill_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    match_id text NOT NULL,
    round_number integer NOT NULL,
    event_index integer NOT NULL,
    time_since_round_start_ms integer,
    killer_puuid text,
    victim_puuid text,
    assistant_puuids text[],
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: match_players match_players_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_players
    ADD CONSTRAINT match_players_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (match_id);


--
-- Name: riot_account_links riot_account_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.riot_account_links
    ADD CONSTRAINT riot_account_links_pkey PRIMARY KEY (id);


--
-- Name: rival_users rival_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rival_users
    ADD CONSTRAINT rival_users_pkey PRIMARY KEY (rival_user_id);


--
-- Name: round_kill_events round_kill_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.round_kill_events
    ADD CONSTRAINT round_kill_events_pkey PRIMARY KEY (id);


--
-- Name: match_players uq_match_players_match_puuid; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_players
    ADD CONSTRAINT uq_match_players_match_puuid UNIQUE (match_id, puuid);


--
-- Name: round_kill_events uq_round_kill_events; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.round_kill_events
    ADD CONSTRAINT uq_round_kill_events UNIQUE (match_id, round_number, event_index);


--
-- Name: idx_match_players_match_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_match_players_match_id ON public.match_players USING btree (match_id);


--
-- Name: idx_match_players_puuid; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_match_players_puuid ON public.match_players USING btree (puuid);


--
-- Name: idx_riot_links_opt_in; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_riot_links_opt_in ON public.riot_account_links USING btree (opt_in_status);


--
-- Name: idx_riot_links_puuid; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_riot_links_puuid ON public.riot_account_links USING btree (riot_puuid);


--
-- Name: idx_rke_killer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rke_killer ON public.round_kill_events USING btree (killer_puuid);


--
-- Name: idx_rke_match_round; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rke_match_round ON public.round_kill_events USING btree (match_id, round_number);


--
-- Name: idx_rke_victim; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_rke_victim ON public.round_kill_events USING btree (victim_puuid);


--
-- Name: uq_riot_links_one_active_per_user; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_riot_links_one_active_per_user ON public.riot_account_links USING btree (rival_user_id) WHERE (link_status = 'ACTIVE'::public.riot_link_status);


--
-- Name: match_players trg_match_players_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_match_players_updated_at BEFORE UPDATE ON public.match_players FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: riot_account_links trg_riot_account_links_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_riot_account_links_updated_at BEFORE UPDATE ON public.riot_account_links FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: rival_users trg_rival_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_rival_users_updated_at BEFORE UPDATE ON public.rival_users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: match_players match_players_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.match_players
    ADD CONSTRAINT match_players_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(match_id) ON DELETE CASCADE;


--
-- Name: riot_account_links riot_account_links_rival_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.riot_account_links
    ADD CONSTRAINT riot_account_links_rival_user_id_fkey FOREIGN KEY (rival_user_id) REFERENCES public.rival_users(rival_user_id) ON DELETE CASCADE;


--
-- Name: round_kill_events round_kill_events_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.round_kill_events
    ADD CONSTRAINT round_kill_events_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(match_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict VpUCpakEbCeGNcU3Va9FnuTmPQ2N4JgedUnBn1PnTsADBf3tc8KE0lhfzKqtg8W

